body{ 
margin:0;
padding:10;
font-family: Arial, Helvetica,sans-serif;
 min-width:400px;
}

input {
 
        width:100%;
        padding: 10px;
        box-sizing:border-box;
        border:1px solid #5f9341;
        margin-bottom:5px;
       

 } /* full width inclues the padding so the size of the box dont overflow due to padding..... box sizing:border-box; */


 #input-btn {

 background-color:#5f9341;
 color:white;
 padding:10px 20px 10px 20px;
 border:none;
 font-weight:bold;
 }
 
 ul{
    list-style:none;
    margin-top:20px;
    padding-left:0;
 }

 li{
    margin-top:5px;
 }

li a{
 color:#5f9341;
}



